body{
    font-family:roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    margin:0;
}

.header,
.hero,
.background{
    background-color: #1F2937;
      padding:0 100px;
    margin:0;
}

.hero{
    display: flex;
    padding: 100px;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img{
    width:600px;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
    font-weight: 700;
}

.heroTitle{
    font-size:48px;
    color:#f9faf8;
    weight:900;
}

.links{
    display: flex;
    flex-direction: row;
    gap:12px;
}

ul,
.heroText{
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
}


a{
    text-decoration: none;
    font-size:18px;
}

button{
    color:#ffffff;
    background-color:#3882f6;
    padding: 8px 16px;
    font-family: Roboto, sans-serif;
    border:none;
    border-radius: 8px;
    font-weight:700;
    flex-grow: 0;
}