
body{
    font-family:roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    margin:0;
}

.header,
.hero,
.background{
    background-color: #1F2937;
      padding:0 200px;
    margin:0;
}

.hero{
    display:flex;
    flex-wrap: wrap;
    padding: 80px 200px;
    flex-direction: row;
    gap:100px;
    justify-content: space-between;;
}

.container{
    flex-direction: column;
    flex: 1 1 300px;
    align-items: center;
    justify-content: space-around;
}

.title{

    font-size: 36px;
    color:#1f2937;
    weight:900;
    display: flex;
     justify-content: center;
    align-items: center;
    padding:40px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img{
    max-width:600px;
    display:block;

}

.imgBox{
    width:200px;
    height:200px;
    border: #3882f6;
    border-radius: 18px;
    border-style: solid;
    border-width:4px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
    font-weight: 700;
    flex-shrink:25%;
}

.content{
    display: flex;
    padding: 0 300px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.infoBox{
    direction: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.heroTitle{
    font-size:48px;
    color:#f9faf8;
    weight:900;
}

.links{
    display: flex;
    flex-direction: row;
    gap:12px;
}

ul,
.heroText{
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
}


a{
    text-decoration: none;
    font-size:18px;
}

button{
    color:#ffffff;
    background-color:#3882f6;
    padding: 8px 16px;
    font-family: Roboto, sans-serif;
    border:none;
    border-radius: 8px;
    font-weight:700;
    margin-bottom:20px
}